.right {
  overflow:auto;
  box-sizing: border-box;
  float: right;
  background-color: rgb(198, 199, 197);
  width: 22%;
  height: 100vh;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.header {
  display: flex;
  justify-content: center;
}
.container {
  margin-left: 30px;
}
input[type="text"] {
  width: 90%;
  padding: 8px 9px;
  margin: 10px 0;
  background-color: rgb(233, 236, 230);
  box-sizing: border-box;
  border-radius: 5px;
}

.filter {
  font: inherit;
  border: 1px solid #4f005f;
  border-radius: 5px;
  background: #4f005f;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin: 2px;
}

.filter:hover {
  background: #741188;
}

.filter:focus {
  outline: none;
  border-color: #000000;
  background: #a892af;
}

.active {
  outline: none;
  border-color: #000000;
  background: #a892af;
}

